
<!-- TOdo App and child to parent communication -->
<!-- <h2 #heading >Sending Data from Child to Parent Component</h2>

<app-child-to-parent (childMethod)="childMethod($event)" ></app-child-to-parent>

<div *ngIf="!show" >
  <ul  *ngFor="let fruit of fruits">
    <li >{{fruit}}</li>
    <button style="background-color: red; color: wheat;" (click)="deletename(fruit)" >Delete</button>
  </ul>
</div>
<div *ngIf="show" >
  <h3 >The are no Items to show!!</h3>
</div> -->


<!-- <app-todo></app-todo> -->

<!-- Child to Parent and Parent to Child communication -->
<!-- <div *ngIf="!show">
  <h1>Child To Parent Communication</h1>
  <app-users  (nagesh)="childToParent($event)"></app-users>
  <h1>{{nagesh.name}}</h1>
  <h1>{{nagesh.age}}</h1>
  <h1>{{nagesh.email}}</h1>
</div>

<div *ngIf="show">
  <h1>Parent To Child  Communication</h1>
  <app-users [ram]="ram" ></app-users>
</div>

<button (click)="toggle()"  >Click to see the communication change</button>

<h1>Services in Angular</h1>
<app-top></app-top>
<app-middle></app-middle>
<app-bottom></app-bottom> -->
<!-- <h1 class="content span">remaining-concept app is running!</h1> -->
<app-header></app-header>    

<router-outlet></router-outlet>

<!-- <app-observable1></app-observable1> -->
<!-- <router-outlet></router-outlet> -->
<!-- <ng-container *ngFor="let item of items">
  <h1 *ngIf="isVisible" >
    <a >{{item}}</a>
  </h1>
</ng-container> -->