table,th,td{
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    border-collapse: collapse;
}

button{
    margin-left:22rem;
    margin-top: 1rem;
    /* padding: 1rem; */
    background-color: red;
    color: white;
    font-size: larger;
}

