<p>observable2 works!</p>
<h1>will get the value from one component to another with the help of subject(Rxjs) and eventEmitter(Angular)</h1>
<h2>Data Coming from EventEmitter</h2>
<h3>You Entered this value in Obs1 - <strong style="color: saddlebrown;">{{something}}</strong> </h3>
<h2>Data Coming from BehaviourSubject</h2>
<h3>You Entered this value in Obs1 - <strong style="color: blueviolet;">{{somethingFromBS}}</strong></h3>
<h2>Data Coming from RplaySubject</h2>
<h3>You Entered this value in Obs1 - <strong style="color: greenyellow;">{{somethingFromRS}}</strong></h3>
<h2>Data Coming from AsyncSubject</h2>
<h3>You Entered this value in Obs1 - <strong style="color: royalblue;">{{somethingFromAS}}</strong></h3>